     h1 {
         color: blue;
     }
     
     body {
         background-color: powderblue;
     }
     
     h3 {
         color: rgb(231, 31, 198);
     }
     
     p {
         color: red;
     }